:root {
  /* Typography */

  --base-font-size: 1rem;
  --typescale-ratio: 1.333;

  --heading-font-family: "Spectral", serif;
  --body-font-family: "Roboto", system-ui, sans-serif;

  --small: calc(var(--base-font-size) / var(--typescale-ratio));
  --smaller: calc(var(--small) / var(--typescale-ratio));

  --medium: calc(var(--base-font-size) * var(--typescale-ratio));

  --large: calc(var(--medium) * var(--typescale-ratio));
  --larger: calc(var(--large) * var(--typescale-ratio));
  --x-large: calc(var(--larger) * var(--typescale-ratio));
  --xx-large: calc(var(--x-large) * var(--typescale-ratio));

  /* Colors */

  --black: #262626;
  --white: #ffffff;
  --golden-puppy: #ffc017;

  /* Spacing */

  --space-scale: 8px;

  --spacer-0: 0;
  --spacer-1\/2: calc(var(--space-scale) / 2);

  --spacer-1: var(--space-scale);
  --spacer-2: calc(var(--space-scale) * 2);
  --spacer-3: calc(var(--space-scale) * 3);
  --spacer-4: calc(var(--space-scale) * 4);
  --spacer-5: calc(var(--space-scale) * 5);
  --spacer-6: calc(var(--space-scale) * 6);
  --spacer-7: calc(var(--space-scale) * 7);
  --spacer-8: calc(var(--space-scale) * 8);
  --spacer-9: calc(var(--space-scale) * 9);
  --spacer-10: calc(var(--space-scale) * 10);
  --spacer-11: calc(var(--space-scale) * 11);
  --spacer-12: calc(var(--space-scale) * 12);

  --tablet: 600px;
  --laptop: 900px;
  --desktop: 1200px;

  font-size: var(--base-font-size);
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding: var(--spacer-2);
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 599px) {
  .sm-hidden {
    display: none;
  }
}

/*
==========================
Header
*/

header {
  background-color: var(--golden-puppy);
  color: var(--white);
  margin: calc(var(--spacer-2) * -1);
  padding: var(--spacer-2);
}

header svg {
  width: 40px;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  font-family: var(--heading-font-family);
  align-items: center;
  margin-right: auto;
}

.logo svg {
  margin-right: var(--spacer-1);
}

.logo a {
  color: var(--black);
  font-size: var(--large);
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: var(--spacer-2);
}

.nav-items li a {
  color: var(--black);
}

.nav-items li:last-child a {
  font-weight: 400;
  background-color: var(--black);
  border-radius: 40px;
  color: var(--white);
  padding: var(--spacer-2) var(--spacer-3);
}
.trend{
  display: flex;
  align-items: center;
}
/* desktop and laptop view starts here */
@media(min-width: 900px){
  .tabletSection1{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin-left: 10vw;
  }
  .section1{
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .numbering{
    min-width: 30px;
    align-self: flex-start;
    margin-left: 10px;
    font-size: 25px;
    color: rgb(121, 120, 120);
  }
  .userName{
    font-weight: 100;
  }
  .date{
    font-weight: lighter;
    color: grey;
    margin-top: 7px;
    font-size: smaller;
  }
  .profileImage{
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 8px;
   width: 25px;
   display: inline-block;
  
  }
  .title{
    font-size: 15px;
    font-weight: bolder;  
  }
  .content1{
    max-width: 375px;
  }
  .trendingLogo{
  border-radius: 50%;
  width: 25px;
  display: inline-block;
  border: 1.5px solid black;
  margin-left: 10vw;
}
.trending{
  font-size: small;
  margin-left: 10px;
  font-weight: bold;
}
.section2{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 26vw;
  max-width: 26vw;
}
.section3{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 26vw;
  max-width: 26vw;
}
.section4{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 26vw;
  max-width: 26vw;
}
.section5{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 26vw;
  max-width: 26vw;
}
.section6{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 26vw;
  max-width: 26vw;
}
.section7{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 26vw;
  max-width: 26vw;
}
}
/* tablet view starts here */
@media(min-width: 600px) and (max-width: 899px){
.tabletSection1{
  display: flex;
  flex-wrap: wrap;
}
.section1{
  margin-top: 30px;
  margin-bottom: 15px;
}
.trendingLogo{
  border-radius: 50%;
  width: 30px;
  display: inline-block;
  border: 1.5px solid black;
  margin-left: 10px;
}
.trending{
  font-size: x-large;
  margin-left: 10px;
  font-weight: bolder;
}
.profileImage{
  border: 1px solid white;
   border-radius: 50%;
   margin-right: 8px;
   width: 30px;
   display: inline-block;
 }
.section2{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 48vw;
  max-width: 48vw;
}
.section3{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 48vw;
  max-width: 48vw;
}
.section4{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 48vw;
  max-width: 48vw;
}
.section5{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 48vw;
  max-width: 48vw;
}
.section6{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 48vw;
  max-width: 48vw;
}
.section7{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
  min-width: 48vw;
  max-width: 48vw;
}
.numbering{
  min-width: 30px;
  align-self: flex-start;
  margin-left: 10px;
  font-size: 25px;
  color: grey;
}
.userName{
  font-weight: 600;
}
.date{
  font-weight: lighter;
  color: grey;
  margin-top: 7px;
}
.profileImage{
  border: 1px solid rgb(77, 77, 221);
  background-color: rgb(77, 77, 221);
  border-radius: 100%;
  margin-right: 8px;
  color: white;
}
.title{
  font-size: var(--medium);
  font-weight: bold; 
}

}
/* mobile view starts here*/
@media(min-width: 0px) and (max-width:599px){
.section1{
  margin-top: 30px;
  margin-bottom: 15px;
}
.trendingLogo{
  border-radius: 50%;
  width: 25px;
  display: inline-block;
  border: 1.5px solid black;
  margin-left: 10px;
}
.trending{
  font-size: medium;
  margin-left: 10px;
  font-weight: bolder;
}
.section2{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
}
.section3{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
}
.section4{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
}
.section5{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
}
.section6{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
}
.section7{
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 20px;
}
.numbering{
  min-width: 30px;
  align-self: flex-start;
  margin-left: 10px;
  font-size: 25px;
  color: grey;
}
.userName{
  font-weight: 600;
}
.date{
  font-weight: lighter;
  color: grey;
}
.profileImage{
 border: 1px solid white;
  border-radius: 50%;
  margin-right: 8px;
  width: 25px;
  display: inline-block;
}
.title{
  font-size: var(--medium);
  font-weight: bold;
}
}
